* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.display-image {
    width: 400px;
    height: auto;
}

.container {
    border: 3px solid red;
    padding: 30px;
    margin: 50px 10%;
}